# Mutation testing
mutants/
.mutmut-cache
mutmut-stats.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.eggs/
*.egg-info/
*.egg

# Build artifacts
build/
dist/
*.spec
*.log

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
*.bak